.footer {
    background-color: #ffefe1;
    padding: 60px 0;
    font-family: "Poppins", sans-serif;
}

.footer-container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-section {
    flex: 1;
    min-width: 220px;
    text-align: left;
}

.footer-logo {
    font-size: 28px;
    font-weight: bold;
    color: #e74c3c;
    margin-bottom: 15px;
}

.footer-text {
    color: #444;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.footer-social-title {
    font-size: 20px;
    color: #e74c3c;
    margin-bottom: 10px;
}

.footer-social-icons {
    display: flex;
    gap: 20px;
}

.social-icon {
    font-size: 28px;
    color: #444;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.social-icon:hover {
    color: #e74c3c;
    transform: scale(1.1);
}

.footer-section h3 {
    color: #e74c3c;
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    color: #444;
    font-size: 16px;
    margin-bottom: 8px;
    transition: 0.3s;
    cursor: pointer;
}

.footer-section ul li:hover {
    color: #e74c3c;
    transform: translateX(5px);
}
.social-icon{
    width: 30px;
}